.styled-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: .9em;
    font-family: sans-serif;
    min-width: 1515px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.styled-table thead tr {
    background-color: #6cc24a;
    color: #0b0b0b;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    font-size: medium;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #24252A;
}

a:link{
    text-decoration:none;};
